---
 const personalImageAlt = ""
 const tooling = ['React', 'TypeScript', 'JavaScript', 'CSS', 'SCSS', 'HTML', 'Git', 'Node.js', 'Express', 'MongoDB', 'Mongoose', 'Jest', 'Cypress', 'Photoshop', 'SQL', 'Jquery', 'React Native']
---

<article class="flex flex-col items-center justify-center gap-8 text-slate-300 md:flex-row">
  <div
    class="[&>p>a>strong]:font-bold [&>p]:mb-4 [&>p>a>strong]:text-cyan-400 [&>p>a>strong]:font-normal [&>p>a>strong]:font-mono text-pretty order-2 md:order-1"
  >
    <p>
      I'm Jaime, from Spain. Back in the day I started in graphic design and then I switched to programming with JavaScript, aiming to combine my design skills with coding. I have developed software at a <a href="https://garvira.com/" target="_blank"><strong
        >digital services cooperative</strong></a>, a <a href="https://cleverpy.com/" target="_blank"><strong>start-up</strong></a> and currently, I'm working in different projects at a <a href="https://www.capgemini.com/es-es/" target="_blank"><strong>large multinational company</strong></a>
        .
    </p>

    <p class="[&>strong]:text-yellow-500 dark:[&>strong]:text-cyan-400 [&>strong]:font-normal [&>strong]:font-mono [&>strong]:font-bold">
      I love creating <strong>appealing</strong>, <strong>engaging</strong> and <strong>pixel perfect</strong> applications that are also well-built under the hood.
    </p>

    <p>
      In my free time, I enjoy learning new things, developing my own projects, and exploring new worlds both in and out of my computer.
    </p>

    <p>
      Some technologies I frecuently use:
    </p>
    <div class="grid grid-cols-[repeat(auto-fit,_minmax(150px,_1fr))]">
      {tooling.map((tool) => (
        <div>
          <span class="text-cyan-400">▹</span>
          <span class="text-slate-400 font-mono text-sm">{tool}</span>
        </div>
      ))}
    </div>
  </div>
</article>