---
import ExperienceItem from "./ExperienceItem.astro"
const EXPERIENCIE = [
  {
    date: "At present",
    title: "Frontend Engineer",
    company: "Capgemini",
    description:
      "Contributed to various projects and solutions for companies such as InterBev and Openbank.",
      tags: ['React', 'TypeScript', 'Ionic', 'SCSS', 'Styled-Components', 'Jest', 'Storybook', 'Microservices'],
  },
  {
    date: "January 2022",
    title: "Frontend Engineer",
    company: "Cleverpy",
    description:
      "Served as the main software engineer for a water management web application featuring georeferenced elements. Additionally, I managed some technical hiring processes and coached new frontend developers.",
    tags: ['React', 'TypeScript', 'SCSS', 'Cypress', 'Jest', 'Openlayers', 'DevExtreme', 'GeoServer'],
  },
  {
    date: "June 2021",
    title: "Frontend Developer",
    company: "Garvira & Partners",
    description:
      "Designed websites and web applications for various companies, with direct interaction with customers.",
    tags: ['JavaScript', 'CSS', 'HTML', 'Wordpress', 'Photoshop']
  },
]
---

<ol class="relative mt-16">
  {
    EXPERIENCIE.map((experiencie) => (
      <li class="">
        <ExperienceItem {...experiencie} />
      </li>
    ))
  }
</ol>
