---
const personalImageAlt = "Jaime Canovas"
import Badge from "@/components/Badge.astro"
---

<div class="max-w-xl">
  <div class="flex gap-4 mb-4 items-center">
    <img
      class="rounded-full shadow-lg size-16"
      src="/avatar.webp"
      alt={personalImageAlt}
    />
    <div
      class="flex items-center transition md:justify-center md:hover:scale-105"
    >
      <Badge>Available to work</Badge>
  </div>
  </div>
  <h1
    class="text-3xl font-bold tracking-tight sm:text-4xl text-slate-100"
  >
    Hey, I'm Jaime Canovas!
  </h1>
  <p
    class="mt-4 text-2xl [&>strong]:text-cyan-400 [&>strong]:font-semibold text-slate-300"
  >
    <strong>Frontend Engineer</strong>
  </p>
  <p class="mt-2 text-xl text-slate-300">Specialized in the development of unique web applications.</p>
</div>