<a
  {...Astro.props}
  target="_blank"
  rel="noopener noreferrer"
  role="link"
  class="transition-all duration-200 inline-flex items-center justify-center gap-2 text-slate-800 transition rounded-full dark:text-white text-md dark:hover:text-cyan-400 group max-w-fit focus:outline-none focus-visible:outline-none focus-visible:ring focus-visible:ring-white focus-visible:ring-offset-2 active:bg-black"
>
  <slot />
</a>